body{

    background-color:rgb(194, 191, 187);

}

.leftside{
    text-align: left;
    display:inline-block
}
footer{
    color: white !important; 
}
.rightside{
    float: right;
    text-align: right;
    display:inline-block
}

article{

    padding-left: 10vw;
    padding-right: 10vw;

    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(194, 191, 187, 1) 10% ,  rgb(194, 191, 187, 1) 90%, rgba(0, 0, 0, 0));
}

.storeItem{
    height:auto;
    width: auto;
    margin: 10px;
    border-style: outset; border-width: 5px; border-color:rgb(173, 171, 24);
}

.button-container {
    display: flex;
  }

.button-container a {
    margin: 5px;
}
.storeItem p{
    margin-bottom: 0.5rem;
}
