html{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top:5px;
    background-color: bisque;
}


.header{
    background-color:azure;
}

.leftside{
    text-align: left;
    display:inline-block
}

.rightside{
    float: right;
    text-align: right;
    display:inline-block
}

article{
    padding: 1vw;
    background-color:antiquewhite;
}

.storeItem{
    height:auto;
    width: auto;
    margin: 10px;
    border-style: outset; border-width: 5px; border-color:rgb(173, 171, 24);
}

.button-container {
    display: flex;
  }

.button-container a {
    margin: 5px;
}
.storeItem p{
    margin-bottom: 0.5rem;
}
