html{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top:5px;

    background-color: bisque;
}


.header{
    background-color:azure;
}

.leftside{
    text-align: left;
    display:inline-block
}

.rightside{
    float: right;
    text-align: right;
    display:inline-block
}

article{
    padding: 1vw;
    background-color:antiquewhite;
}

.storeItem{
    height:10vw;
    margin: 10px;
    border-style: outset; border-width: 5px; border-color:rgb(173, 171, 24);
}